***`Universidad de Sonora, Campus Hermosillo`***

---

***`Profesor: `*** *`Lizarraga Celaya Carlos`*

***`Materia: `*** *`Física Computacional`*

---

***`Trabajo: `*** *`Actividad 3`*

---

***`Alumno: `*** *`Bonillas Miranda Akin`*

***`Número de Expediente: `*** *`219211360`*

***`Correo: `*** *`a219211360@unison.mx // akinbonillasmiranda@gmail.com`*

***`Número Telefónico: `*** *`662 368 2474`*

---

***`Grupo: `*** *`2`*

***`Carrera: `*** *`Licenciatura en Física`*

***`Semestre: `*** *`Cuarto Semestre`*

---

***`Viernes 29 de Enero de 2021, Hermosillo, Sonora`***

.

***`Paso 1.-`*** *`Abre un nuevo cuaderno de trabajo Jupyter en Google Colab, llamado Actividad3. Carga las bibliotecas Numpy y Pandas. Enseguida define un nuevo DataFrame "df" con la ayuda de la función de Pandas "pd.read_csv", leyendo el archivo csv con los datos climatológicos de la estación meteorológica que has seleccionado para estas actividades y que has almacenado en tu repositorio en Github.`*

In [3]:
#========================== Definicmos las bibliotecas =========================

import pandas as pd   # Importamos la biblioteca Pandas
import numpy as np    # Importamos la biblioteca NumPy

#=================== Introducimos el URL del archivo de texto ==================

# Tomar la dirección URL del archivo en formato 'raw'
URL = 'https://raw.githubusercontent.com/Akin-Bonillas-Miranda/Fisica_Computacional/master/Actividad%201/2027.txt'

#============================ Definimos las columnas ===========================

cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
  # Definimos los nombres de las columnas 

#=========================== Estructuramos el Archivo ==========================

df_data = pd.read_csv( URL, names=cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python' )
  # encoding='cp1251': El archivo tiene códigos ASCII extendido (Español)
  #         sep='\s+': El separador de datos es de uno o más espacios
  #       header=None: afirmamos que no nay encabezado
  #       skiprows=19: Se brincará los primeros 19 renglones 
  #      skipfooter=1: y el último
  #   engine='python': Se procesan los datos utilizando Python

.

***`Paso 2.-`*** *`Una vez que hayas leído tu archivo de datos, usando la función "df.head(n)" y "df.tail()", y estudia la estructura de tu archivo, para determinar que renglones trae la información de los nombres de las columnas y en qué número de renglón comienzan los datos. Lo que buscamos es quedarnos con un DataFrame con los nombres de las columnas en el primer renglón y el resto de renglones serán sólo datos diarios de la estación meteorológica. `*

In [4]:
#=============== Revisamos el encabezado y el final del dataframe ==============

print(df_data.head())
print(" ")
print(df_data.tail())
print(" ")

        Fecha Precip  Evap  Tmax  Tmin
0  13/12/1957      0  Nulo  24.4  Nulo
1  14/12/1957      0  Nulo  24.4  15.6
2  15/12/1957      0  Nulo  25.6  18.3
3  16/12/1957      0  Nulo  22.2  17.8
4  17/12/1957      0  Nulo  22.2  16.7

            Fecha Precip  Evap Tmax Tmin
12019  25/02/2000      0  Nulo   26   14
12020  26/02/2000      0  Nulo   27   15
12021  27/02/2000      0  Nulo   27   15
12022  28/02/2000      0  Nulo   26   15
12023  29/02/2000      0  Nulo   24   14

.

***`Paso 3.-`*** *`Enseguida se pide explorar el dataframe recién cargado a la memoria. Para esto, se pide hacer una bitácora anotando o agregando un comentario de las acciones desarrolladas.`*

*`- Imprime el encabezado y final del dataframe: print(df.head(10)), print(df.tail(10))`*

In [5]:
#=============== Revisamos el encabezado y el final del dataframe ==============

print(df_data.head(10))  # Con un argumento vacío "()" muestra 5 renglones
print(" ")
print(df_data.tail(10))  # Con el argumento vacío "()" muestra 5 renglones
print(" ")

        Fecha Precip  Evap  Tmax  Tmin
0  13/12/1957      0  Nulo  24.4  Nulo
1  14/12/1957      0  Nulo  24.4  15.6
2  15/12/1957      0  Nulo  25.6  18.3
3  16/12/1957      0  Nulo  22.2  17.8
4  17/12/1957      0  Nulo  22.2  16.7
5  18/12/1957      0  Nulo  21.1  15.6
6  19/12/1957      0  Nulo  23.5  14.4
7  20/12/1957      0  Nulo  22.8  12.2
8  21/12/1957      0  Nulo    25  12.8
9  22/12/1957      0  Nulo  22.2    10

            Fecha Precip  Evap Tmax Tmin
12014  20/02/2000      0  Nulo   21   16
12015  21/02/2000      0  Nulo   23   16
12016  22/02/2000      0  Nulo   27   15
12017  23/02/2000      0  Nulo   26   15
12018  24/02/2000      0  Nulo   25   14
12019  25/02/2000      0  Nulo   26   14
12020  26/02/2000      0  Nulo   27   15
12021  27/02/2000      0  Nulo   27   15
12022  28/02/2000      0  Nulo   26   15
12023  29/02/2000      0  Nulo   24   14

*`- ¿Qué dimensiones tiene tu dataframe?: df.shape`*

In [6]:
#================= Investigamos su tamaño con la función shape =================

print(df_data.shape) # (renglones, columnas)

(12024, 5)

*`- ¿Cómo es el contenido de tu dataframe?: df.info()`*

In [7]:
#=============== Mostraremos la información del archivo de texto ===============

print(df_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12024 entries, 0 to 12023
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12024 non-null  object
 1   Precip  12024 non-null  object
 2   Evap    12024 non-null  object
 3   Tmax    12024 non-null  object
 4   Tmin    12024 non-null  object
dtypes: object(5)
memory usage: 469.8+ KB
None

*`- Los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. Tenemos que reemplazar la palabra nulo con la función: df.replace()`*

In [8]:
#======= Hacemos una copia de trabajo y preservamos el DataFrame original ======

df_tran0 = df_data.copy()

print(df_tran0.head()) # Comprobamos que el DataFrame original está intacto

        Fecha Precip  Evap  Tmax  Tmin
0  13/12/1957      0  Nulo  24.4  Nulo
1  14/12/1957      0  Nulo  24.4  15.6
2  15/12/1957      0  Nulo  25.6  18.3
3  16/12/1957      0  Nulo  22.2  17.8
4  17/12/1957      0  Nulo  22.2  16.7

In [9]:
#============= Reemplazamos los textos 'Nulo' por espacio en blanco ============

str_nulo = 'Nulo'
df_tran1 = df_tran0.replace( to_replace=str_nulo, value='', regex=True)

print(df_tran1.head()) # Comprobamos que el DataFrame se haya transformado

        Fecha Precip Evap  Tmax  Tmin
0  13/12/1957      0       24.4
1  14/12/1957      0       24.4  15.6
2  15/12/1957      0       25.6  18.3
3  16/12/1957      0       22.2  17.8
4  17/12/1957      0       22.2  16.7

In [10]:
#============= Imprimimos la información actualizada del DataFrame =============
print(df_tran1.info())
print(" ")
print(df_tran1.head())
print(" ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12024 entries, 0 to 12023
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12024 non-null  object
 1   Precip  12024 non-null  object
 2   Evap    12024 non-null  object
 3   Tmax    12024 non-null  object
 4   Tmin    12024 non-null  object
dtypes: object(5)
memory usage: 469.8+ KB
None

        Fecha Precip Evap  Tmax  Tmin
0  13/12/1957      0       24.4
1  14/12/1957      0       24.4  15.6
2  15/12/1957      0       25.6  18.3
3  16/12/1957      0       22.2  17.8
4  17/12/1957      0       22.2  16.7

*`- Después habrá que convertir a número flotante o numérico los datos de Precipitación, Evaporación, Temperatura Máxima y Temperatura mínima utilizando la función: df.to_numeric() `*

In [11]:
#==== Convertimos los valores de las variables ambientales a núm. flotantes ====

cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_tran1[cols] = pd.to_numeric(df_tran1[cols], errors='coerce')

*`- Contrasta ahora la información de tu DataFrame con la función: df.info()`*

In [12]:
print(df_tran1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12024 entries, 0 to 12023
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12024 non-null  object
 1   Precip  11098 non-null  float64
 2   Evap    121 non-null    float64
 3   Tmax    12016 non-null  float64
 4   Tmin    12014 non-null  float64
dtypes: float64(4), object(1)
memory usage: 469.8+ KB
None

*`- Se puede contabilizar el número de datos faltantes en esas variables mediante la función: df.isnull().sum()`*

In [13]:
#=============================== Sumamos los valores nulos =====================

print(df_tran1.isnull().sum())

Fecha         0
Precip      926
Evap      11903
Tmax          8
Tmin         10
dtype: int64

*`- Imprime de nuevo el encabezado y final de tu dataframe, con las funciones "df.head()" y "df.tail()"`*

In [14]:
print(df_tran1.head())
print(" ")
print(df_tran1.head())
print(" ")

        Fecha  Precip  Evap  Tmax  Tmin
0  13/12/1957     0.0   NaN  24.4   NaN
1  14/12/1957     0.0   NaN  24.4  15.6
2  15/12/1957     0.0   NaN  25.6  18.3
3  16/12/1957     0.0   NaN  22.2  17.8
4  17/12/1957     0.0   NaN  22.2  16.7

        Fecha  Precip  Evap  Tmax  Tmin
0  13/12/1957     0.0   NaN  24.4   NaN
1  14/12/1957     0.0   NaN  24.4  15.6
2  15/12/1957     0.0   NaN  25.6  18.3
3  16/12/1957     0.0   NaN  22.2  17.8
4  17/12/1957     0.0   NaN  22.2  16.7

*`- Realiza una estadística básica de las variables numéricas de tu dataframe usando la función: "df.describe()" y haz una interpretación de los resultados, para ver si tienen sentido físico (por ej. valores negativos de precipitación, valores extremos fuera de lo normal, etc)`*

In [15]:
#=========== Un análisis estadístico breve de las variables numéricas ==========
#===================== Redondeado a 4 cifras significativas ====================

print(df_tran1.describe().round(4))

           Precip      Evap        Tmax        Tmin
count  11098.0000  121.0000  12016.0000  12014.0000
mean       0.1470    4.1025     25.9776     17.0092
std        1.5416    1.6835      3.7748      3.5081
min        0.0000    0.5000     12.0000     -1.1000
25%        0.0000    3.0000     23.3000     14.4000
50%        0.0000    4.0000     26.0000     17.0000
75%        0.0000    5.4000     28.5000     19.5000
max       45.0000    8.7000     40.0000     27.0000

.

***`Paso 4.-`*** *`Análisis de la variable Fecha. Pandas maneja las variables tipo Fecha y Tiempo. Ofrece una serie de herramientas para su manipulación. Lo que sigue es convertir el objeto que se ha leído a una variable que Python comprenda.  `*

*`- Comienza haciendo una copia del dataframe del paso anterior, por si se requiere recuperar el nuevo dataframe, utilizando df:new=df.copy()`*

In [16]:
#====== Hacemos una copia de trabajo y preservamos el DataFrame Modificado =====

df_tran2 = df_tran1.copy()

print(df_tran2['Fecha'].head()) 
# Comprobamos que el DataFrame modificado está intacto

0    13/12/1957
1    14/12/1957
2    15/12/1957
3    16/12/1957
4    17/12/1957
Name: Fecha, dtype: object

*`- Utiliza la función de Pandas "pd.to_datetime()", para convertir el objeto Fecha a formato de fecha que comprende Python.  Lee el manual de esa función e intenta la conversión. `*

In [17]:
# Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# Intentamos a ver si Python reconoce el formato en nuestro caso. 
# Agregamos la opción de que el primer dato es el día (dayfirst=True)

df_tran2['Fecha']=pd.to_datetime(df_tran2['Fecha'], dayfirst=True).copy()
print(df_tran2.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1957-12-13     0.0   NaN  24.4   NaN
1 1957-12-14     0.0   NaN  24.4  15.6
2 1957-12-15     0.0   NaN  25.6  18.3
3 1957-12-16     0.0   NaN  22.2  17.8
4 1957-12-17     0.0   NaN  22.2  16.7

*`- Después utiliza la función df.dtypes para verificar que todas las variables son del tipo deseado.  `*

In [18]:
#=========== Verificamos que cada vcolumna sea del tipo que esperamos ==========
# Observamos que la variable Fecha es de tipo 'datetime64[ns]'  

df_tran2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

*`- Enseguida con la ayuda de las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month, crea dos columnas nuevas adicionales df['Año'] y df['Mes'].`*

In [19]:
#=========== Buscamos ahora añadir dos columnas adicionales: Año, Mes ==========
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha

df_tran2['Año'] = df_tran2['Fecha'].dt.year
df_tran2['Mes'] = df_tran2['Fecha'].dt.month

*`- Utilizando la función print aplicado a las funciones df.head() y df.tail(), verifica que el dataframe tiene la forma deseada.`*

In [20]:
#============== Verificamos que se hayan creado de forma correcta ==============

print(df_tran2.head())
print(" ")
print(df_tran2.tail())
print(" ")

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1957-12-13     0.0   NaN  24.4   NaN  1957   12
1 1957-12-14     0.0   NaN  24.4  15.6  1957   12
2 1957-12-15     0.0   NaN  25.6  18.3  1957   12
3 1957-12-16     0.0   NaN  22.2  17.8  1957   12
4 1957-12-17     0.0   NaN  22.2  16.7  1957   12

           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
12019 2000-02-25     0.0   NaN  26.0  14.0  2000    2
12020 2000-02-26     0.0   NaN  27.0  15.0  2000    2
12021 2000-02-27     0.0   NaN  27.0  15.0  2000    2
12022 2000-02-28     0.0   NaN  26.0  15.0  2000    2
12023 2000-02-29     0.0   NaN  24.0  14.0  2000    2

*`- Y complementa con la función df.dtypes, para verificar que todas las variables son del tipo adecuado.`*

In [21]:
#=============== Verificamos que Año y Mes son variables enteras ===============

print(df_tran2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12024 entries, 0 to 12023
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12024 non-null  datetime64[ns]
 1   Precip  11098 non-null  float64
 2   Evap    121 non-null    float64
 3   Tmax    12016 non-null  float64
 4   Tmin    12014 non-null  float64
 5   Año     12024 non-null  int64
 6   Mes     12024 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 657.7 KB
None

*`- Hasta aquí llegaremos esta semana.`*